html, body {
  width: 100%;
  display: block;
  -webkit-overflow-scrolling: touch;
}

html {
  font-weight: normal;
  font-family: $font-main;
  color: $default-body-text-color;
  line-height: line-height($browser-context, $browser-line-height);
}

// RESPONSIVE 1920px 1rem = 16px
html {
  font-size: .8333vw;

  @include breakpoint($des-large) {
      font-size: 16px;
  }

  @include breakpoint($des-medium) {
      font-size: 16px;
  }

  @include breakpoint($des-small) {
      font-size: 14px;
  }

  @include breakpoint($tab) {
      font-size: 15px;
  }

  @include breakpoint($tab-small) {
      font-size: 14px;
  }

  @include breakpoint($mob-small) {
      font-size: 3vw;
  }
}


.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

img{
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;

  &:hover {
    color: currentColor;
  }
}

.base-size {
  font-size: 1rem;
}

p{
    color: $color-text-light;
    font-family: $font-main;
    font-size: rem(20);
    line-height: 1.7;
}

.p-large {
  font-size: rem(36);
}

h1, .h1{
  color: $color-text-dark;
  font-family: $font-main-medium;	
  font-size: rem(40);
  line-height: 1.7;
}

h2, .h2{
  color: $color-text-dark;
  font-family: $font-main-medium;
  font-size: rem(32);
  letter-spacing: rem(1);
  line-height: 1.25;
}

h3, .h3 {
  font-size: rem(24);
  line-height: 1.21;
}

h4, .h4 {
  font-size: rem(16);
  line-height: 1.5;
}

h5, .h5 {
  font-size: rem(15);
  line-height: 1.5;
}

h6, .h6 {
  font-size: rem(14);
  line-height: 1.5;
}

.small {
  font-size: rem(12);

  @include breakpoint($mob) {
    font-size: rem(13);
  }
}

.tiny {
  font-size: rem(9);

  @include breakpoint($mob) {
    font-size: rem(10);
  }
}

.display {
  &-1 {
    font-size: rem(300);

    @include breakpoint($mob) {
      font-size: rem(50);
    }
  }

  &-2 {
    font-size: rem(193);
  }

  &-3 {
    font-size: rem(107);
    line-height: 1.05;

    @include breakpoint($tab) {
      font-size: rem(90);
    }

    @include breakpoint($mob) {
      font-size: rem(75);
    }

    @include breakpoint($mob-small) {
      font-size: rem(55);
    }
  }

  &-4 {
    font-size: rem(75);
  }
}

.bold-font {
  font-family: $font-main-bold;
}

.headline-bold-font {
  font-family: $font-main-bold;
}

.headline-ultra-bold-font {
  font-family: $font-main-bold;
}
