.clearfix {

    display: block;

    &:after {
        height: 0;
        clear: both;
        font-size: 0;
        content: "";
        display: block;
        visibility: hidden;
    }

}

.container{
  max-width: rem(1190);
  width: 100%;
  padding: 0 rem(15);
  margin: 0 auto;
}