$black: #000000;
$white: #FFFFFF;

//#######################################
//## OVERRIDES ##########################
//#######################################

$default-body-text-color: $black;
$default-body-link-color: $black;

$default-selection-text-color: $white;
$default-selection-bg-color: $black;

//#######################################
//## PROJECT COLORS #####################
//#######################################
$main-color: #000066;
$color-text-dark: #15181F;
$color-text-light: #848894;