@import "~@degordian/sassbox/src/helpers";

//########################################
//## FONT VARIABLES ######################
//########################################
$font-primary: 'SF-Compact-Display-Regular', Arial, sans-serif;

$font-main: "SF-Compact-Display-Regular";
$font-main-medium: "SF-Compact-Display-Medium";
$font-main-light: "SF-Compact-Display-Light";
$font-main-bold: "SF-Compact-Text-Bold";

@include font-face($font-main, "SF-Compact-Display-Regular");
@include font-face($font-main-medium, "SF-Compact-Display-Medium");
@include font-face($font-main-light, "SF-Compact-Display-Light");
@include font-face($font-main-bold, "SF-Compact-Text-Bold");

//########################################
//## SIZES ###############################
//########################################
$browser-context: 16; // px
$browser-line-height: 30; // px