.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: rem(50);
  min-width: rem(150);
  background-color: $main-color;
  border: rem(2) solid $main-color;
  padding: 0 rem(23);
  color: $white;
  font-size: rem(18);
  letter-spacing: rem(1);
  position: relative;

  .icon{
    margin-left: rem(15);
    fill: $main-color;
    transition: $t-hover;
    width: rem(6);
    height: rem(11);
  }

  &:hover{
    color: $white;
    min-width: rem(155);
    
    .icon{
      fill: $white;
      transform: translateX(5px);
      display: inline-block;
    }
  }

  &--outline{
    background-color: transparent;
    color: #1D212C;
    transition: $t-hover;

    &:hover{
      background-color: $main-color;
      color: $white;
    }
  }
}