.cover{
  position: relative;
  height: 29vh;
  min-height: 560px;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $c-black-40;
  }

  h1{
    text-align: center;
    font-family: $font-main-bold;
    font-size: rem(60);
    letter-spacing: rem(0.83);
    line-height: normal;
    text-transform: uppercase;
    color: $white;
    position: relative;
    z-index: 1;
    max-width: rem(625);
    margin: auto;
  }

  &--no-overlay{
    &:after{
      content: none;
    }
  }
  &--inner{
    margin-bottom: 74px;
  }
  &--bottom-title{
    align-items: flex-end;
    justify-content: flex-start;

    h1{
      color: #15181f;
      font-family: $font-main-medium;
      font-size: rem(34);
      padding: rem(32);
      background-color: $white;
      display: inline-block;
      min-width: rem(490);
      padding: rem(30) rem(30);
      max-width: 100%;
      text-transform: none;
      text-align: left;
      letter-spacing: 0;
    }
  }
}