.footer{
  background-color: #0b0c0f;
  padding: rem(45) rem(40);

  a{
    transition: $t-hover;
    
    &:hover{
      color: $white;
    }
  }

  .row{
    display: flex;

    .col{
      width: rem(235);
      margin-right: rem(125);

      ul{
        li{
          display: block;
          color: $c-white-70;
          font-size: rem(18);
          letter-spacing: rem(0.9);
          line-height: 1.72;
        }
      }
    }
  }

  &__nav{
    width: 100%;
    padding-top: rem(45);
    display: flex;
    align-items: center;
    color: #aaaeb8;
    font-family: $font-main-bold;
    font-size: rem(12);
    letter-spacing: rem(1);
    text-transform: uppercase;

    li{
      margin-right: rem(30);
      &:last-child{
        margin-right: 0;
      }
    }
  }
}