.gallery{
  margin-bottom: 100px;

  .general-title{
    margin-bottom: 28px;

    h2,p{
      max-width: 59%;
    }
  }

  &__wrapp{
    display: grid;
    grid-gap: rem(40) rem(40);
    grid-template-columns: repeat(auto-fit, minmax(calc(25% - 20px), auto));

    .item{
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover{
        &:after{
          opacity: 0.85;
        }
      }
      
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000066;
        opacity: 0.4;
        transition: $t-hover;
      }

      h4{
        position: absolute;
        color: $white;
        font-family: $font-main-bold;
        font-size: rem(24);
        text-transform: uppercase;
        z-index: 1;
      }
    }
  }
}