.header{
  .container{
    max-width: rem(1210);
    padding: 0 rem(15);
    display: flex;
    align-items: center;
  }
  &__top{
    height: rem(40);
    background-color: $main-color;
    display: flex;
    align-items: center;
  }
  &__top-nav{
    display: flex;
    align-items: center;
    margin-left: auto;

    li{
      a{
        color: $white;
        font-family: $font-main-bold;
        font-size: rem(11);
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 0 rem(17);
      }
    }
  }

  &__bottom{
    display: flex;
    align-items: center;
    height: rem(90);
    box-shadow: 4px 2px 4px 0 rgba(0,0,0,0.1);
  }
  &__nav{
    margin-left: auto;
    ul{
      display: flex;
      align-items: center;

      li{
        margin: 0 rem(15);

        &:last-child{
          margin-right: 0;
        }

        a{
          text-transform: uppercase;
          color: #868991;
          font-family: $font-main-bold;
          font-size: rem(11);
          letter-spacing: 1px;
        }
      }
    }
  }
}