.project-articles{
  margin-bottom: rem(175);
  .container{
    max-width: rem(1260);
  }
  .general-title{
    padding: rem(90) rem(45) 0 rem(45);
    margin-bottom: rem(52);
    h2{
      color: #15181f;
      font-family: $font-main-medium;
      font-size: rem(40);
      line-height: 1.7;
      margin-bottom: rem(15);
    }
  }
}

.slider-articles{

  &:before,
  &:after{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    background-color: $white;
    width: rem(40);
    left: 0;
    z-index: 1;
  }
  &:before{
    right: 0;
    left: auto;
    width: rem(44);
  }
  *{
    white-space: initial;
  }
  
  &__slide{
    img{
      margin-bottom: rem(30);
    }
    h3{
      color: #1D212C;
      font-family: $font-main-medium;
      font-size: rem(26);
      letter-spacing: rem(1);
      line-height: 1.46;
      margin-bottom: rem(16);
      padding-right: rem(15);
    }
    .location{
      display: block;
      color: #787D88;
      font-size: rem(22);
      letter-spacing: rem(1);
      margin-bottom: rem(21);
    }
  }

  &__controls{
    position: absolute;
    padding-top: 8%;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    pointer-events: none;
    z-index: 2;

    button{
      border: none;
      box-shadow: none;
      outline: none;
      pointer-events: auto;
      background-color: transparent;

      svg{
        stroke: #343a45;
      }

      &:nth-of-type(2){
        svg{
          transform: rotate(180deg);
        }
      }

      &:hover{
        svg{
          stroke: #669efe;
        }
      }
    }
  }
}