.share{
  display: flex;
  align-items: center;
  padding-top: rem(35);
  
  span{
    color: #aaaeb8;
    font-family: $font-main-medium;
    font-size: rem(12);
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 20px;
  }

  &__list{
    display: flex;
    align-items: center;
    
    li{
      margin-right: rem(15);
      a{
        &:hover{
          .icon{
            fill: $main-color;
          }
        }
        .icon{
          width: rem(26);
          height: rem(26);
          transition: $t-hover;
        }
      }
    }
  }
}