.text-image{
  padding-top: 145px;

  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 95px;

    h3{
      width: 100%;
      color: #6a6e77;
      font-family: $font-main-bold;
      font-size: rem(36);
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: rem(24);
    }

    h4{
      color: #15181f;
      font-family: $font-main-bold;
      font-size: rem(21);
      line-height: 1.71;
      text-transform: uppercase;
      padding-top: 40px;
      max-width: 90%;
    }

    ul{
      li{
        color: #15181f;
        font-size: rem(21);
        line-height: 1.71;
        margin-bottom: 15px;
        font-family: $font-main-bold;
        position: relative;
        padding-left: rem(25);
      }
    }

    .left,
    .right{
      width: 50%;
    }

    .left{
      p{
        color: #6a6e77;
        font-size: rem(22);
        line-height: 1.64;
        margin-bottom: rem(28);
        padding-top: 23px;
      }
      ul{
        li{
          .icon{
            position: absolute;
            top: rem(9);
            left: 0;
            width: rem(17);
            height: rem(17);
          }

          ul{
            padding-top: 15px;
            li{
              font-family: $font-main;
              padding-left: 0;
            }
          }
        }
      }
    }

    .right{
      text-align: right;
      padding: rem(15) 0 0 rem(80);
    }

    .full{
      max-width: rem(1075);
      padding-top: rem(55);
      ul{
        li{
          line-height: 1.71;

          &:after{
            content: '';
            position: absolute;
            top: rem(12);
            left: 0;
            width: rem(12);
            height: rem(12);
            border-radius: 50%;
            background-color: $main-color;
          }
        }
      }
    }
  }
}