.about{

  .container{
    max-width: rem(990);
  }
  h1{
    font-size: rem(60);
    margin: 102px 0 78px 0;
  }
  p{
    margin-bottom: rem(40);
    color: #6a6e77;
  }
  h3{
    font-family: $font-main-medium;
    font-size: rem(24);
    line-height: 2.83;
    color: #15181f;
  }

  &__intro{
    color: #15181f;
    font-family: $font-main-medium;
    font-size: rem(24);
    line-height: 1.67;
    margin-bottom: rem(40);
  }

  .certificates__cols{
    padding: rem(50) 0 rem(100) 0;
  }
  &__licence{
    li{
      display: flex;
      align-items: center;
      margin-bottom: rem(90);

      &:last-child{
        margin-bottom: rem(65);
      }

      .left{
        display: flex;
        align-items: center;
        min-width: 29.5%;

        .icon{
          width: rem(76);
          height: rem(99);
          margin-right: rem(24);
        }
        h4{
          color: #15181f;
          font-size: rem(40);
          font-family: $font-main-medium;
          line-height: 1.7;
          text-transform: uppercase;
        }
      }
      .right{
        p{
          margin: 0;
          color: #15181f;
          font-family: $font-main;
          font-size: rem(20);
          line-height: 1.5;
        }
      }
    }
  }

  &__partners{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(75);

    li{
      width: 25%;
      padding: rem(27) 0;
      text-align: center;
      
      img{
        max-width: 80%;
      }
    }
  }
}