.contact{
  padding-top: rem(95);

  .container{
    display: flex;
    justify-content: space-between;
    max-width: rem(1090);
    margin-bottom: 100px;

    h1,h2{
      color: #15181f;
      font-family: $font-main-medium;
      font-size: rem(34);
      margin-bottom: rem(40);
    }
  }

  .right,
  .left{
    width: rem(400);
  }

  .row{
    margin-bottom: rem(28);

    &:first-of-type{
      margin-bottom: rem(18);
    }

    a,
    p{
      color: #1d212c;
      font-size: rem(18);
      line-height: 1.56;
      display: block;
    }
    a{
      font-family: $font-main-medium;
      transition: $t-hover;

      &:hover{
        color: $main-color;
      }
    }
    span{
      color: #848894;
      font-family: $font-main;
      font-size: rem(14);
      line-height: 1.71;
      display: block;
      margin-bottom: rem(5);
    }
  }

  &__form{
    overflow: hidden;

    input,
    textarea{
      border: rem(2) solid #15181f;
      width: 100%;
      margin-bottom: rem(15);
      padding: rem(16) rem(20);

      &:focus{
        border-color: #0000dd;
      }
    }

    textarea{
      height: rem(200);
      overflow-y: auto;
      margin-bottom: 0;
    }

    .btn{
      float: right;
      margin-top: rem(24);
    }
  }

  &__map{
    height: rem(520);
    width: 100vw;
  }
}