.home{
  &__slider-holder{
    background: url(../ui/home-slider-dots.svg);
    background-position: bottom center;
    background-size: 140% rem(110);
    background-repeat-y: no-repeat;
    padding-bottom: rem(60);

    .container{
      max-width: rem(1310);
    }
  }
  &__slide{

    *{
      white-space: initial;
    }
    > .media-wrapper{
      padding-bottom: 50.66%;
      background-size: cover !important;
      width: 88%;
      margin-left: auto;
    }
  }
  &__slide-box{
    width: 37.9%;
    margin: -36.84% 0 0 0;
    z-index: 1;
    position: relative;

    .media-wrapper{
      padding-bottom: 85.77%;
    }

    h4{
        font-size: rem(34);
        line-height: 1.29;
        font-family: $font-main-medium;
        padding: rem(27) rem(30);
        background-color: $white;
    }
  }

  &__slide-info{
    display: flex;
    padding: 0 rem(30);
    background-color: $white;
    margin-top: -15%;
    z-index: 1;
    position: relative;
    width: 80%;
    margin-left: auto;

    .glide__bullet{
      padding: rem(55) rem(30);
      cursor: pointer;

      &--active{
          .index{
            color: $black;
            font-family: $font-main-bold;
          }
          p{
            color: $main-color;
          }
      }
    }

    .index{
      color: #787D88;
      font-size: rem(24);
      letter-spacing: rem(1);
      margin-bottom: rem(9);
      display: block;
    }
    p{
      color: #1D212C;
      font-family: $font-main-medium;
      font-size: rem(20);
      letter-spacing: rem(1);
      line-height: 1.6;
      margin-bottom: rem(10);
    }
    span{
      color: #787d88;
      font-size: rem(18);
      letter-spacing: rem(1);
    }
  }
  &__slide-controls{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 14.6rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    button{
      padding: rem(40);
      border: none;
      box-shadow: none;
      outline: none;

      svg{
        stroke: #343a45;
      }

      &:nth-of-type(2){
        svg{
          transform: rotate(180deg);
        }
      }

      &:hover{
        svg{
          stroke: #669efe;
        }
      }
    }
  }
}

// Licences
.licence{
  position: relative;
  background-size: cover !important;
  padding: rem(105) 0 rem(95) 0;
  
  .container{
    z-index: 1;
    position: relative;
  }

  .general-title{
    margin-bottom: rem(80);

    h2{
      color: $white;
    }
    p{
      color: $white;
      max-width: rem(680);
    }
  }

  &:before,
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    opacity: 0.6;
    pointer-events: none;
  }

  &:before{
    background-color: #000000;
  }

  .row{
    display: flex;

    .col{
      text-align: center;
      padding: 0 rem(20);

      h4{
        color: $white;
        font-family: $font-main-medium;
        font-size: rem(35);
        line-height: 1.94;
        text-transform: uppercase;
      }
      p{
        color: $white;
        font-size: rem(18);
        letter-spacing: rem(1);
        line-height: 1.67;
      }
      .icon{
        width: rem(67);
        height: rem(87);
      }
    }
  }
}

// Partners
.partners{
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.11);
  background-color: $white;
  padding: rem(90) 0 rem(65) 0;

  .general-title{
    margin-bottom: rem(80);
  }

  .container{
    &--slider{
      padding: 0 rem(75);
    }
  }

  &__slide-list{
    display: flex;
    flex-wrap: wrap;
    padding: 1px;

    li{
      width: 25%;
      padding: rem(27) 0;
      text-align: center;
      border: rem(1) solid rgba(151, 151, 151, 0.4);
      margin: rem(-1) 0 0 rem(-1);
      
      img{
        max-width: 80%;
      }
    }
  }
  &__dots{
    display: flex;
    justify-content: center;
    padding-top: rem(60);
    margin: auto;

    .glide__bullet {
      width: rem(14);
      height: rem(14);
      border-radius: 50%;
      background-color: #d8d8d8;
      margin: 0 rem(13);
      cursor: pointer;

      &--active{
        background-color: $main-color;
      }
    }
  }
}

// Certs
.certificates{
  padding: rem(113) 0 0;

  .general-title{
    margin-bottom: rem(85);

    p{
      max-width: rem(750);
    }
  }

  &__cols{
    max-width: rem(1110);
    margin: auto;
    display: flex;
    justify-content: space-between;

    .col{
      width: 33.333%;
      text-align: center;

      .icon{
        width: rem(61);
        height: rem(87);
      }
      span{
        color: $color-text-dark;
        font-family: $font-main-medium;
        font-size: rem(35);
        line-height: 1.94;
        text-transform: uppercase;
        display: block;
      }
    }
  }


  &__info{
    padding-top: rem(160);

    .row{
      display: flex;
      justify-content: space-between;

      .item{
        display: flex;
        padding: rem(72) rem(77);
        min-height: 300px;

        > div {
          display: flex;
          flex-direction: column;
          position: relative;
          z-index: 1;
        }
        strong{
          color: #ffffff;
          font-family: $font-main-light;
          font-size: rem(80);
          line-height: 0.81;
          margin-bottom: rem(22);
        }
        span{
          opacity: 0.6;
          color: $white;
          font-size: rem(20);
          line-height: 1.4;
        }

        &--blue{
          background-color: $main-color;
        }
        &--blue-wide{
          justify-content: flex-end;
          flex: 0 0 calc(50vw - 16.7vw);

          > div{
            max-width: rem(163);
          }
        }
        &--small{
          flex: 0 0 16.7vw;
          padding: rem(65) rem(55);
        }

        &--solid,
        &--image{
          flex: 0 0 50vw;
          background-size: cover !important;
          background-repeat: no-repeat !important;
          background-color: #1c1f27;
        }
        &--image{
          position: relative;

          > div{
            max-width: rem(110);
          }

          &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $c-black-50;
          }
        }
        &--solid{
          > div{
            max-width: rem(440);
          }
          strong{
            font-size: rem(30);
            line-height: 2.27;
            margin-bottom: 0;
          }
          p{
            color: #848894;
            font-size: rem(20);
            letter-spacing: rem(1);
            line-height: 1.3;
          }
        }
      }
    }
  }
}

//Projects
.projects{
  position: relative;
  padding-bottom: rem(88);

  .container{
    max-width: rem(1310);
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  .row{
    position: relative;

    &:after{
      content: '';
      position: absolute;
      top: rem(102);
      right: 0;
      width: 50vw;
      height: 54.1%;
      background-color: $main-color;
    }

    .left{
      width: rem(755);
    }
    .right{
      width: rem(465);
      padding-top: rem(232);

      .projects__item-info{
        margin-left: 0;
        width: 86.6%;
        padding: rem(40) rem(30) rem(40) 0;
        ul{
          li{
            font-size: rem(20);
          }
        }
      }
    }

    &--two{

      &:after{
        right: auto;
        left: 0;
        top: rem(100);
        width: 66.7%;
        height: 38.5%;
      }

      .left{
        width: rem(657);
        .projects__item-info{
          width: 84.6%;
          margin: rem(-90) rem(-58) auto auto;
        }
      }
      .right{
        padding-top: rem(200);
        width: rem(565);

        .projects__item-info{
          width: rem(400);
          margin: rem(-100) auto;
          padding: rem(40) rem(75) rem(40) rem(40);
        }
      }
    }

    &--three{
      padding-top: 57px;

      &:after{
        right: 0;
        left: auto;
        top: rem(131);
        width: 74.12%;
        height: 60.9%;
      }

      .left{
        .projects__item-info{
          margin: rem(-90) 0 auto auto;
        }
      }
      .right{
        padding-top: rem(175);
        width: rem(565);

        .projects__item-info{
          width: rem(400);
          margin: rem(-100) auto auto 0;
          padding: rem(40) rem(75) rem(40) rem(40);
        }
      }
    }
  }

  &__item-info{
    width: 71.6%;
    margin: -125px auto auto auto;
    background: #fff;
    position: relative;
    padding: rem(40) rem(75) rem(40) rem(40);

    h4{
      color: #1d212c;
      font-family: $font-main-medium;
      font-size: rem(32);
      letter-spacing: rem(1);
      line-height: 1.25;
      margin-bottom: rem(21);
    }
    ul{
      margin-bottom: rem(30);

      li{
        color: #787d88;
        font-size: rem(22);
        letter-spacing: rem(1);
        line-height: 1.27;
        margin-bottom: rem(16);
        display: flex;
        align-items: flex-start;

        &:last-child{
          margin-bottom: 0;
        }

        .icon{
          flex: 0 0 17px;
          height: 17px;
          margin: rem(4) rem(13) 0 0;
        }
        span{
          display: inline-block;
        }
      }
    }
  }
}