.other-activities{
  padding: rem(122) 0 rem(130) 0;

  .container{
    max-width: rem(1000);

    h2{
      color: #6a6e77;
      font-family: $font-main-bold;
      font-size: rem(36);
      line-height: 1;
      text-transform: uppercase;
      margin-bottom: rem(32);
    }
    p{
      color: #6a6e77;
      font-size: rem(18);
      line-height: 1.56;
      margin-bottom: rem(30);
    }

    .feature{
      display: flex;
      flex-wrap: wrap;
      padding-top: 60px;
      
      h2{
        width: 100%;
      }
      &__item{
        width: 50%;
        img{
          margin-bottom: 40px;
        }
        p{
          color: #15181f;
          font-family: $font-main-bold;
          font-size: rem(24);
          line-height: 1.5;
          margin-bottom: 0;
        }
      }
    }
  }

  &__graphics{
    display: flex;
    justify-content: center;
    padding: rem(70) 0 rem(50) 0;

    > div{
      margin: 0 rem(75);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .icon{
        margin-left: auto;
        margin-right: auto;
        
        &--sun{
          width: rem(132);
          height: rem(102);
        }
        &--battery{
          width: rem(53);
          height: rem(85);
        }
        &--solar{
          width: rem(92);
          height: rem(102);
        }
      }
      span{
        display: block;
        padding-top: rem(27);
        color: #6a6e77;
        font-family: $font-main-bold;
        font-size: rem(24);
      }
    }
  }
}