.references{
  padding: rem(90) 0 rem(85) 0;
  h1{
    font-size: rem(60);
    padding-left: rem(30);
  }

  table{
    text-align: left;
    border-collapse:separate; 
    border-spacing:  0 rem(15);
    width: 100%;

    thead{
      tr{

        th{
          color: #848894;
          font-size: rem(16);
          line-height: 1.5;
          font-family: $font-main;
          font-weight: 400;
          padding: 0 rem(5);

          &:first-child{
            padding-left: rem(30);
          }
        }
      }
    }

    tbody{
      tr{
        box-shadow: 0 2px 60px rgba(0, 0, 0, 0.09);
        background-color: $white;

        td{
          color: #1d212c;
          font-family: $font-main-medium;
          font-size: rem(16);
          letter-spacing: rem(0.44);
          padding: rem(30) rem(5);

          &:first-child{
            padding-left: rem(30);
          }
        }
      }
    }
  }
}