.work{
  padding-top: rem(70);

  .container{
    display: flex;
    justify-content: space-between;
  }

  .left{
    width: rem(760);
    padding: 0 rem(30);

    .intro-text{
      color: #15181f;
      font-family: $font-main-medium;
      font-size: rem(24);
      line-height: 1.67;
      margin-bottom: rem(45);
    }

    p{
      color: #6a6e77;
      font-size: rem(18);
      line-height: 1.56;
      margin-bottom: rem(40);
    }
  
    h3{
      font-family: $font-main-medium;
      font-size: rem(24);
      line-height: 2.83;
      color: #15181f;
    }

    img{
      margin-bottom: rem(40);
    }

  }
  .right{
    width: rem(360);

    h2{
      opacity: 0.3;
      color: #15181f;
      font-family: $font-main-medium;
      font-size: rem(34);
      margin-bottom: rem(20);
    }

    &__nav{
      li{
        a{
          color: #1d212c;
          font-family: $font-main-medium;
          font-size: rem(20);
          line-height: 1.6;
          padding: rem(15) 0;
          width: 100%;
          transition: $t-hover;

          &:not(.is-active){
            &:hover{
              color: $main-color;
              span{
                color: $main-color;
              }
            }
          }

          &.is-active{
            padding: rem(25) rem(40);
            margin: rem(25) 0;
            background-color: $main-color;
            color: $white;

            span{
              color: $white;
            }
          }

          span{
            color: #787d88;
            font-family: $font-main;
            font-size: rem(24);
            letter-spacing: rem(2);
            display: block;
            margin-bottom: rem(10);
            transition: $t-hover;
          }
        }
      }
    }
  }
}