.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-angle-right {
  width: 0.5458984375em;
}

.icon-tw {
  width: 1.1923828125em;
}

.icon-licence-blue {
  width: 0.767578125em;
}

.icon-sun-energy {
  width: 1.37109375em;
}

.icon-battery {
  width: 0.669921875em;
}

.icon-solar-panels {
  width: 0.962890625em;
}

.icon-cert {
  width: 0.701171875em;
}

.icon-licence {
  width: 0.7705078125em;
}

.icon-flash {
  width: 0.7646484375em;
}

.icon-arrow {
  width: 1.375em;
}
